body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template: 75px 75px 300px 75px / 250px 750px;
  gap: 15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  background-color: #FFDE22;
}

.sidebar {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  background-color: #FF7755;
}

.nav {
  grid-row: 2 / span 1;
  grid-column: 2 / -1;
  background-color: #00DDFF;
}

.article {
  grid-row: 3 / span 1;
  grid-column: 2 / -1;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  grid-row: 4;
  grid-column: span 2;
  background-color: #393f4d;
}
